<div class="page-body">
  <div class="my-bbqs-bookings-container">
    <div class="my-bbqs-bookings-headers">
      <h1>My Bookings
        <% if current_user.bookings.nil? %>
          <%= "(0)" %>
        <% else %>
          <%= "(#{current_user.bookings.count})" %>
        <% end %>
      </h1>

      <%= link_to "New Booking", root_path, class: "btn btn-primary" %>
    </div>

    <div class="my-bookings">
      <% current_user.bookings.order(:start_date).each do |booking| %>
        <a href="<%= edit_bbq_booking_path(booking.bbq_id, booking.id) %>" class="cards-horizontal-link">
          <div class="cards-horizontal">
            <div class="image-height-override">
              <% if booking.bbq.photo.attached? %>
                <%= cl_image_tag booking.bbq.photo.key, height: 430, width: 1000, crop: :auto, alt: "#{booking.bbq.name} image", class: "cards-horizontal-image" %>
              <% else %>
                <%= image_tag "bbq.png", height: 430, width: 1000, crop: :auto, alt: "#{booking.bbq.name} image", class: "cards-horizontal-image" %>
              <% end %>
            </div>
            <div class="cards-horizontal-card-info">
              <h4><%= "#{booking.start_date.strftime('%-d %b')} - #{booking.end_date.strftime('%-d %b %Y')}" %></h4>
              <h3><%= booking.bbq.name %></h3>
              <p><%= booking.bbq.address %></p>
              <p class="truncate-text"><%= truncate(booking.bbq.description, length: 115) %></p>
              <div>
                <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <i class="fa-solid fa-trash booking-icon"></i>
                <% end %>
              </div>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
