<div class="container">
  <div class="row g-3">
    <% @bbqs.each do |bbq|  %>
    <div class="col-md-4 col-6">
      <div class="card">
        <%= image_tag "bbq.png", class: 'img-top img-fit', alt: "#{bbq.name} image"%>
        <div class="card-body">
          <h5 class="card-title"> <%= bbq.name %> </h5>
          <p class="card-text"> <%= bbq.description %> </p>
          <p class="card-text"> £<%= bbq.price %> </p>
          <div class="text-end">
            <%= link_to 'View', bbq_path(bbq), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
