<div class="container">
  <div class="row g-3">
    <% @bbqs.each do |bbq|  %>
    <div class="col-md-4">
      <div class="card">
        <% if bbq.photo.attached? %>
          <%= cl_image_tag bbq.photo.key, class: 'img-top img-fit', alt: "#{bbq.name} image"%>
        <% else %>
          <%= image_tag "bbq.png", class: 'img-top img-fit', alt: "#{bbq.name} image"%>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"> <%= bbq.name %> </h5>
          <p class="card-text"> <%= bbq.description %> </p>
          <div class="container">
            <div class="row align-items-center mt-3">
              <p class="card-text col-md-5 price-text"><%= number_to_currency(bbq.price, unit: "£", precision: 2) %></p>
              <div class="text-end col-md-7">
                <%= link_to 'View', bbq_path(bbq), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
