<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class = "col-md-4">
  <h3>Select your dates</h3>

  <%= simple_form_for(@booking) do |f| %>
    <%= f.input :date_range,
          as: :string,
          input_html: { id: "date-range-picker", class: "form-control" } %>

    <%= f.hidden_field :start_date, id: "start-date" %>
    <%= f.hidden_field :end_date, id: "end-date" %>

    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
</div>


  <%= simple_form_for(@booking) do |f| %>
    <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
</div>
