<div>
  <h2><%= bbq.name %></h2>
  <p><strong>Address:</strong> <%= bbq.address %></p>
  <p><strong>Fuel Type:</strong> <%= bbq.fuel_type %></p>
  <p><strong>Grill Size:</strong> <%= bbq.grill_size %></p>
  <p><strong>Brand:</strong> <%= bbq.brand %></p>
  <h4><%= number_to_currency(bbq.price, unit: "£", precision: 2) %> / day</h4>
</div>
