<div class="page-body">
  <div class="index-container">
    <h1>Available BBQs</h1>

    <% if params["booking"][:start_date].present? && params["booking"][:end_date].present? %>
      <h4 class="date-availability"><%= "#{Date.parse(params["booking"][:start_date]).strftime('%-d %b')} - #{Date.parse(params["booking"][:end_date]).strftime('%-d %b %Y')}" %></h4>
    <% end %>

    <div class="index-bbq-map-container">
      <div class="index-bbq-container">
        <% @bbqs.each do |bbq| %>
          <a href="<%= bbq_path(bbq) %>" class="cards-horizontal-link">
            <div class="cards-horizontal">
              <div class="cards-horizontal-image-div">
                <% if bbq.photo.attached? %>
                  <%= cl_image_tag bbq.photo.key, height: 430, width: 1000, crop: :auto, alt: "#{bbq.name} image", class: "cards-horizontal-image" %>
                <% else %>
                  <%= image_tag "bbq.png", height: 430, width: 1000, crop: :auto, alt: "#{bbq.name} image", class: "cards-horizontal-image" %>
                <% end %>
              </div>

              <div class="cards-horizontal-card-info">
                <h2><%= bbq.name %></h2>
                <p class="truncate-text-lines"><%= bbq.description %></p>
                <h4 class="cards-horizontal-price"><%= "#{number_to_currency(bbq.price, unit: "£", precision: 2)} / day"  %></h4>
              </div>
            </div>
          </a>
        <% end %>
      </div>

      <div class="index-map-container">
        <div style="width: 100%; height: 400px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
