<div style="width: 1000px; margin: 0 auto;">
  <h1 class="py-3">Available Barbecues</h1>

  <% if params["booking"][:start_date].present? && params["booking"][:end_date].present? %>
    <p>Showing availability from <strong><%= Date.parse(params["booking"][:start_date]).strftime("%A, %B %d") %></strong> to <strong><%= Date.parse(params["booking"][:end_date]).strftime("%A, %B %d") %></strong></p>
  <% end %>

  <%= render "shared/cards" %>

  <div class="map-container">
    <h3>Map:</h3>
    <div style="width: 100%; height: 400px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


</div>
