

<div style="width: 1000px; margin: 0 auto;">
  <h1 class="py-3">Available Barbecues</h1>

  <div data-controller="filter">
    <button class="btn btn-outline-secondary" data-action="click->filter#toggle">
      <i class="fas fa-filter"></i> Filter
    </button>

    <div id="filter-sidebar" class="filter-sidebar" style="display: none;" data-filter-target="filterBar">
      <div class="filter-header">
        <h2>Add Filters</h2>
        <button id="close-filter" class="close-btn" data-action="click->filter#toggle">✖</button>
      </div>

      <%= simple_form_for :filters, url: bbqs_path, method: :get, html: { id: "filter-form" } do |f| %>
        <div class="row">
          <div>
            <%= f.input :brand, label: "Brand", prompt: "Select Brand", collection: ['Weber', 'Traeger', 'Big Green Egg', 'Napoleon', 'Yoder Smokers', 'Beefeaters', 'Other'] %>
          </div>

          <div>
            <%= f.input :fuel_type, label: "Fuel Type", prompt: "Select Fuel Type", collection: ['Charcoal', 'Electric', 'Gas'] %>
          </div>

          <div>
            <%= f.input :grill_size, label: "Grill Size", prompt: "Select Grill Size", collection: ["2 people", "4 people", "6 people", "8 people", "10+ people"] %>
          </div>

          <div>
            <%= f.input :price, label: "Max Price", placeholder: "Enter max price" %>
          </div>

          <div>
            <%= f.input :pick_up, as: :boolean, label: "Pick-up Available" %>
          </div>

          <div>
            <%= f.input :delivery, as: :boolean, label: "Delivery Available" %>
          </div>
        </div>
        <div class="text-center mt-3">
          <%= f.submit "Apply Filters", class: "btn btn-primary" %>
          <button type="reset" class="btn btn-secondary" data-action="click->filter#reset">Reset</button>
        </div>
      <% end %>
    </div>
  </div>


  <% if params["booking"][:start_date].present? && params["booking"][:end_date].present? %>
    <p>Showing availability from <strong><%= params["booking"][:start_date] %></strong> to <strong><%= params["booking"][:end_date] %></strong></p>
  <% end %>

  <%= render "shared/cards" %>

  <div class="map-container">
    <h3>Map:</h3>
    <div style="width: 100%; height: 400px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


</div>
