<div class="cards">
    <% @bbqs.each do |bbq|  %>
      <div class="card border border-secondary-subtle" style="width: 10em;">
        <%= image_tag "https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg", class: "h-10" %>
      <div class="card-body p-1" >
        <h5 class="card-title h3"> <%= bbq.name %> </h5>
        <p class="card-text fs-6 text"><%= bbq.description %></p>
        <p class="card-text">£<%= bbq.price %></p>
        <%= link_to 'view', bbq_path(bbq), class: 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
